.firstdiv {
    background-color: burlywood;
}

.firstimg {
    width: 4em;
    height: 4em;
    margin-left: 1em;
    margin-top: 1em;
}

.firstspan {
    color: brown;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 3em;
}

.secondspan {
    color: brown;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 3em;
}

.thirdspan {
    color: brown;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 3em;
}

.fourthspan {
    color: brown;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 3em;
    
}

.fifthspan {
    color: brown;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 3em;
}

.sixthspan {
    color: brown;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 3em;
}

.seconddiv {
    background-color: brown;
}

.flexdiv {
    display: flex;
}

.firstitemflex{
    width: 50%;
    text-align: center;
background-color: blue;
}

.seconditemflex {
    width: 50%;
    text-align: center;
    background-color: blueviolet;
}